
@{
    Layout = null;
}

<h3>Mvc Kamp Tablo-Category</h3>
<br />
<table>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklma</th>
        <th>Durum</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama yaptık</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklma Yapıldı</td>
        <td>True</td>
    </tr>

</table>
